*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    caret-color: transparent;
}
body{
    overflow: hidden;
    background-color: #efefef;
}
header{
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    width: 100%;
    background-color: #000;
    justify-content: space-between;
    height: 5vh;
    position: relative;
    /* overflow: hidden; */
}
.logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: aliceblue;
    justify-content: center;
    padding-left: 6PX;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
.navlinks{
    padding-right: 10PX;
    /* align-content: flex-end; */
    display: flex;
    align-items: center;
    list-style: none;
    gap: 70px;
}
.navlinks li a{
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px 1px 10px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
.navlinks li a:hover{
    background-color: #fff;
    color: #000;
}
.burger{
    display: none;
}
.burger div{
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    body{
        overflow: hidden;
    }
    .navlinks{
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0,0.9);
        border: solid 0.5px #fff;
        border-radius: 10px;
        right: 0px;
        width: 35%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        align-items: center;
        overflow: hidden;
        top: 5vh;
        gap: 40px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navlinks li{
        padding: 10px;
        padding-right: 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        position: relative;
    }
    .navlinks li a{
        padding: 3px;
    }
    .burger{
        display: block;
        cursor: pointer;
        align-items: center;
        padding: 4px;
    }
    .navlinks a{
        font-size: 12px;
        border: 1px solid rgba(99, 98, 98, 0.815);
        justify-content: center;
        height: 100%;
        width: 100%;
        display: flex;
    }
    .nav-active{
        transform: translateX(0%);
    }
    @keyframes navlinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggles .line1{
        transform: rotate(-45deg) translate(-5px,5px);
    }
    .toggles .line2{
        opacity: 0;
    }
    .toggles .line3{
        transform: rotate(45deg) translate(-5px,-5px);
    }
}
.main{
    position: absolute;
    width: 250px;
    height: 250px;
    margin: 20px 0px 0px 20px;
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}
.card:hover{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #efefef;
    color: #fff;
    text-align: center;
    font-size: 28px;
    border-radius: 15px;
}
.front img{
    border-radius: 10px;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #000;
    color: #fff;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    border: 3px solid aqua;
    box-shadow: #000 7px 7px 5px 5x;
}
.backinfo{
    margin-top: 20px;
}
.socials{
    margin-top: 20px;
    display: inline;
}
.socials img{
    width: 30px;
    display: flex;
    border-radius: 100px;
    box-shadow: #Fff 5px 5px 10px;
    background: #fff;
    transition: .5s ease;
}
.socials img:hover{
    box-shadow: rgb(173, 255, 47) 5px 5px 5px;
}
.socials li{
    list-style: none;
    justify-content: center;
    /* background-color: red; */
    display: inline;
    width: 50%;
    justify-content: center;
    margin-left: 60px;
    align-items: center;
    font-size: 15px;
    display: flex;
}
.socials li a{
    color: #fff;
    padding: 10PX;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    
    text-align: center;
}